body
{
    margin: 0;
    padding: 0;
    background: lightslategray;
    font-family: sans-serif;
}

.product
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 380px;
    background: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    overflow: hidden;
}

.product .imgbox
{
    height: 100%;
    box-sizing: border-box;
}

.product .imgbox img
{
    display: block;
    width: 80%;
    margin: 20px auto 0;
}

.details
{
    position: absolute;
    width: 100%;
    bottom: -145px;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.5s; 
}

.product:hover .details
{
    bottom: 0;
    opacity: 0.9;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.5)
}


.details h2
{
    margin: 0;
    padding: 0;
    width: 100%;
}

.details h2 span
{
    font-size: 15px;
}

.details .price
{
    position: absolute;
    top: 13px;
    right: 20px;
    font-weight: bold;
    font-size: 20px;
}

label
{
    display: block;
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
}

ul
{
    display: flex;
    margin: 0;
    padding: 0; 
}

ul li
{
    list-style: none;
    margin: 5px 5px 0;
    font-size: 13px;
}

ul li:first-child
{
    margin-left: 0;
}

ul.colors li 
{
    width:16px;
    height: 16px;
}

ul.colors li:nth-child(1)
{
    background: navy;
}

ul.colors li:nth-child(2)
{
    background: slategrey;
}

ul.colors li:nth-child(3)
{
    background: olive;
}

ul.colors li:nth-child(4)
{
    background: brown;
}

ul.colors li:nth-child(5)
{
    background: black;
}

a
{
    display: block;
    padding: 10px;
    margin: 15px 0 0;
    color: black;
    background:lightcoral; 
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

a:hover
{
    background: darkmagenta;
    color: white
}