body {
    font-family:'Times New Roman', Times, serif;
    margin:0;
    background: url(images/Wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav{
    margin: 0 auto 0 79%;
    padding: 1% 0 0 0;
    height:5%;
    
}
.nav{
    display:none;
    margin:0;
    padding:0;
}

nav a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin-right:5%;
    font-size: 70%;
    font-weight: bold;
    letter-spacing: 50%;
    font-family: 'PT Sans', sans-serif;
}

nav a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}

ul{
    list-style-type: none;
    width:2.5%; 
    position: fixed;
    height:25%;
    left:96.5%;   
    bottom:0;
    padding:0 1% 0 0;
    margin:0;
}

li a img{
    width:100%;
    height:18%;
}

ul li:hover{
	background-color: rgb(0, 0, 0);

}

.header{
    width:100%;
    margin:0;
    background:rgba(230, 171, 171, 0.253);
    border-bottom: 6px solid rgb(0, 0, 0);
    height:20%;
    position: relative;
    
}

.slideshow{
    width:100%;
    background:rgb(26, 7, 7);
    height:100%;
    margin:0;
}

.mySlides {
    display:none;
}

.text {
    color: #ff0404;
    position: absolute;
    bottom: 10%;
    left: 40%;
    font-size:2vw;


}

.active {
    background-color: #717171;
  }

@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
.yourclass{
    width:50%;
    height:30%;
    margin:5% auto auto 5%;
    padding:0;
    background-color: palevioletred;
}
.product{
    background-color: black;
    box-shadow: 5px 10px #00000038;
    position: relative;
    margin: 1%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.bt1{
    position: absolute;
    bottom: 3%;
    padding: 0 0 0 45%;
}
  
.sticky {
    position: fixed;
    top:0;
    margin:0;
    width: 100%;
  }

  
