/*header*/
header {
    background-color: rgb(231, 231, 231);
}


.a a {
    font-size: 60%;
    color: rgb(0, 0, 0);
}

.a a:hover{
    color: red;
}

.icon {
    padding-bottom: 6px;
}

.signup {
    display: none;
    position: absolute;
    padding: 5 5 5 5;
    top: 45;
    right: -100px;
    width: max-content;
    border-radius: 2px;
    color: rgb(46, 44, 44);
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 2px #d8cfcf;
    z-index: 1;
}

.user:hover .signup {
    display: block;
}


.brand:hover{
    text-decoration: none;
    color:darkblue;
}
/*Index.php*/
.carousel-inner img {
    width: 100%;
    height: 100%;
}

@media(min-width:581px) {
  .one{
  content:url("images/Wallpaper.jpg");
  }
  .two{
  content:url("images/Wallpaper1.jpg");
  }
  .three{
  content:url("images/Wallpaper2.jpg");
  }
}
@media(max-width:580px) {
  .one{
  content:url("images/mobile1.jpg");
  }
  .two{
  content:url("images/mobile2.jpg");
  }
  .three{
  content:url("images/mobile3.jpg");
  }
}

/*specific.php*/

.ovl{
    opacity:0;
}
.ovl:hover{
    opacity:1;
}

.height{
    height:30%;
}
.height img{
    width:100%;
    height:100%
}

/*Signup*/

.contain input[type=text],
input[type=password],
input[type=email],
input[type=text],
select {
    color: rgb(158, 157, 157);
    width: 98%;
    padding: 15px;
    margin: 5px 1% 22px 1%;
    display: inline-block;
    border: none;
    background: #000000;
}

.form-error{
    color:red;
}
.input-error{
    box-shadow: 0 0 20px red;
}
.form-success{
    color: green;
}
.form-message{
    color:red;
}

@media(min-width:581px) {
    .brand{
        font-size:150%;
        font-weight: bold;
        color:darkblue;
    }
    
    .icon {
        font-size: 150%;
    }

    .contain {
        margin: 5px auto auto auto;
        text-align: center;
        box-shadow: 3px 3px 3px 3px rgb(172, 133, 136);
        width: 450px;
        background-color: beige;
        height: max-content;
    }
    .image{
    width:100%;
    height:500px;
    }
    .zoom{
        width:100%;
        height:50px;
    }
 
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

@media(max-width:580px) {
    .brand{
        font-weight: bold;
        color:darkblue;
    }
    
    
    .icon {
        font-size: 100%;
    }

    .a a {
        font-size: 60%;
    }

    .image{
        width:100%;
        height:200px;
     }
     .zoom{
        width:100%;
        height:40px;
    }
    .col-2{
        padding-right: 0;
    }
}

/*home.php*/
@media(min-width:581px){
    .FW1{
        width:75%;
        margin:auto;
    }
    .FW{
        height:65%;
   }
}
@media(max-width:580px){
    .FW1{
        width:100%;
    }
    .FW{
        height:50%;
   }
}