body {
    font-family:'Times New Roman', Times, serif;
    margin:0;
    background: url(images/Wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav{
    margin: 0 auto 0 79%;
    padding: 1% 0 0 0;
    height:5%;
}
.nav{
    display:none;
    margin:0;
    padding:0;
}

nav a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    margin-right:5%;
    font-size: 70%;
    font-weight: bold;
    letter-spacing: 50%;
    font-family: 'PT Sans', sans-serif;
}

nav a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}

ul{
    list-style-type: none;
    width:2.5%; 
    position: fixed;
    height:25%;
    left:97%;   
    bottom:0;
    padding:0 1% 0 0;
    margin:0;
}

li a img{
    width:100%;
    height:18%;
}

ul li:hover{
	background-color: rgb(0, 0, 0);

}

.header{
    width:100%;
    margin:0;
    background:rgb(255, 255, 255);
    border-bottom: 6px solid rgb(0, 0, 0);
    height:20%;
    position: relative;
    z-index: 1000;
}

.slideshow{
    width:100%;
    background:rgb(26, 7, 7);
    height:100%;
    margin:0;
}

.featured{
    width:30%;
    background:rgb(26, 7, 7);
    height:70%;
    right:3%;
    top:128%;
    float:right;
    position: absolute;
}
.featured1{
    width:30%;
    background:rgb(26, 7, 7);
    height:70%;
    right:3%;
    top:208%;
    float:right;
    position: absolute;
}

.mySlides {
    display:none;
}

.mySlides1 {
    display:none;
}
.mySlides2 {
    display:none;
}
p {
    color:white;
    font-size: 100%;
    position: absolute;
    top: 3%;
    padding: 0 0 0 45%; 
}
.text {
    color: #ff0404;
    position: absolute;
    bottom: 10%;
    left: 40%;
    font-size:2vw;
}

.active {
    background-color: #717171;
  }

  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
.yourclass{
    width:100%;
}
.product{
    background-color: black;
    box-shadow: 5px 10px #00000038;
    position: relative;
    border: 2px solid rgb(231, 56, 12);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}
  
.prev1, .next1 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}
.prev2, .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
}
  
.next,.next1,.next2 {
    right: 0;

}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.prev1:hover, .next1:hover {
    background-color: rgba(0,0,0,0.8);
}
.prev2:hover, .next2:hover {
    background-color: rgba(0,0,0,0.8);
}

.bt1{
    position: absolute;
    bottom: 3%;
    padding: 0 0 0 45%;
}
  
.sticky {
    position: fixed;
    top:0;
    margin:0;
    width: 100%;
}

.slider{
    width:60%;
    height:30%;
    margin:3% auto auto 3%;
}

.slider1{
    width:60%;
    height:30%;
    margin:4% auto auto 3%;
}

footer{
    width:100%;
    margin:7% 0 0 0;
    position:absolute;
    padding:1% 0 1% 0;
    background-color: tomato;
    overflow: hidden;
}

ul1 li h5{
    margin:auto auto 1% 0;
    padding:0; 
    color:white;
}

ul1 li h3{
    margin:auto auto 0 auto;
    color:rgb(14, 5, 5); 
}

ul1 li{
    margin-top:1%;
}

ul1{ 
    text-align:center;
    list-style-type: none;
}

.foot{
    float: left;
    width:24.4%; 
    border-right: 6px solid rgb(0, 0, 0);
    margin:0;
    padding:0;
}
.overlay {
    position: absolute;
    opacity: 0;
    color:white;
    text-align: center;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.192);
    top:0;
    height:100%;
    width:100%
  }
.overlay a{
    text-decoration: none;
    color:white;
    padding:10%;
}
.overlay a:hover{
    color:orangered;
}
  .product:hover .overlay {
    opacity: 1;
  }
  
