body
{
	width: 100%;
	height: 100%;
	background: url(back.jpeg);
	background-size: cover;
}


.nav
{
	position: fixed;
	margin-top: 10px;
	left: 5px;
	padding: 0;
	width: 100%;
	height: 80px;
}


.left ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}


.left ul li 
{
	float: left;
	width: 200px;
	height: 40px;
	background-color: black; 
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 1px;
}


.left ul li a
{
	text-decoration: none;
	color: white;
	font-weight: 500;
	display: block;
}


.left ul li a:hover
{
	background-color: green;
}

.left ul li ul li
{
	display: none;
}


.left ul li:hover ul li
{
	display: block;
}


.right ul
{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.right ul li 
{
	float: right;
	width: 200px;
	height: 40px;
	background-color: black; 
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 1px;
}


.right ul li a
{
	text-decoration: none;
	color: white;
	font-weight: 500;
	display: block;
}


.right ul li a:hover
{
	background-color: green;
}

.right ul li ul li
{
	display: none;
}


.right ul li:hover ul li
{
	display: block;
}









