body
{
	margin: 0;
	padding: 0;
	background: url(sign.jpeg);
	font-size: 20px;
	font-family: Arial;
	font-weight: 300;
}

.signup-box
{
	position: relative;
	margin: 5% auto;
	height: 500px;
	width: 600px;
	background: white;
	opacity: .8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.left
{
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: border-box;
	padding: 20px;
	width: 300px;
	height: 400px;
}


.avatar
{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}


h1
{
	font-weight: 300;
	font-size: 30px;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


input[type="text"], input[type="password"]
{
	display: block;
	box-sizing: border-box;
	margin-bottom: 4px;
	width: 200px;
	height: 20px;
	border: none;
	outline: none;
	border-bottom: 1px solid;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}





.right
{
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	
}


.or
{
	position: absolute;
	top: 180px;
	left: 260px;
	width: 40px;
	height: 40px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
	line-height: 40px;
	text-align: center;
	
}


.right .signinwith
{
	display: block;
	margin-bottom: 40px;
	font-size: 30px;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}


button.social
{
	margin-bottom: 20px;
	width: 220px;
	height: 36px;
	border: none;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
}


.facebook
{
background: #32508e;	
}


.email
{
background: #55acee;	
}



.google
{
background: #dd4b39;	
}






